<div class="row" ng-controller="createCtrl as cc">
  <div class="entry col l5">
    <div class="entryContent">
      <div class="class col l12">
        <p>Your background provides important story cues about your characters identity. You also get a couple of neat features to boot, too.</p>
        <div class="input-field col s5 center-align">
          <select  material-select
            ng-model="character.background"
            ng-change="applyBackground()"
            ng-options="background as background for background in backgrounds">
          </select>
          <label>Backgrounds</label>
        </div>

        <div class="col l12"
             ng-if="character.background">
          <p>Great. You also got a couple bonus proficiencies to boot!</p>
          <div class="profs">
            <h6><strong>Proficiencies</strong></h6>
            <div class="prof col s12 l4"
                 ng-repeat="(prof, name) in proficiencies">
              <input type="checkbox" id="{{name}}" ng-model="character.proficiencies[name]"
                     disabled="disabled">
              <label for="{{name}}">{{name}}</label>
            </div>
          </div>
        </div>
      </div>

      </div>
      <div class="button col l12">
        <button class="btn next right"
                ng-click="finishedState('background')">Next</button>
        <button class="btn right"
                ng-click="backup()">Previous</button>
    </div>
  </div>
  <div class="response col l7">
    Stuff there
  </div>
</div>
