<div class="row" ng-controller="createCtrl as cc">
  <div class="entry col l5">
    <h5>We need to set your base ability scores now</h5>
    <p>Don't worry about racial bonuses or anything like that. They'll get handled automatically.</p>
    <div class="class col l12">
      <div class="input-field col s5 center-align">
        <input type="text"
        ng-model="character.stats.strength">
        <label>Strength</label>
      </div>
    </div>
    <div class="class col l12">
      <div class="input-field col s5 center-align">
        <input type="text"
        ng-model="character.stats.dexterity">
        <label>Dexterity</label>
      </div>
    </div>
    <div class="class col l12">
      <div class="input-field col s5 center-align">
        <input type="text"
        ng-model="character.stats.consitution">
        <label>Constitution</label>
      </div>
    </div>
    <div class="class col l12">
      <div class="input-field col s5 center-align">
        <input type="text"
        ng-model="character.stats.intelligence">
        <label>Intelligence</label>
      </div>
    </div>
    <div class="class col l12">
      <div class="input-field col s5 center-align">
        <input type="text"
        ng-model="character.stats.wisdom">
        <label>Wisdom</label>
      </div>
    </div>
    <div class="class col l12">
      <div class="input-field col s5 center-align">
        <input type="text"
        ng-model="character.stats.charisma">
        <label>Charisma</label>
      </div>
    </div>

    <div class="button col l12">
      <button class="btn next right"
              ng-click="finishedState('ability')">Next</button>
      <button class="btn right"
              ng-click="toState('class')">Previous</button>
    </div>
  </div>
  <div class="response col l7">
    Stuff there
  </div>
</div>
