.content {
  .wrapper {

    .entry, .response {
      height: calc(100vh - 64px);
      padding: 50px;
      display: flex;
    }

    .entry {
      align-items: center;
      flex-direction: column;
      border-right: 1px solid #777;
      box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.16);
      overflow: auto;

      .entry-flex {
        align-self: center;
      }

      .checkbox-green {
        color: green;
      }

      .checkbox-blue {
        color: blue;
      }

      .class, .subclass {
        margin-top: 2rem;
      }

      .next {
        margin-left: 1rem;
      }

      .profs {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }

      label {
        pointer-events: none;
      }

      .ability label {
        width: 100%;
      }

      .prof label , .saving label  {
        pointer-events: inherit;
      }

      .entryContent {
        width: 100%;
        flex: 1;
      }

      button {
        margin-top: 3rem;
        background: #3498DB;
      }
    }

    .response {
      background: #EBEBEB;
      position: relative;
      overflow: auto;
      padding-bottom: 25px;
      box-shadow: inset 3px 5px 10px 0 rgba(0, 0, 0, 0.16);

      .default {
        width: 100%;
        height: 100%;
      }

      .emptyState {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding: 25px;

        .emptyStateContent {
          background: #EEE;
          width: 500px;
          text-align: center;
          padding: 55px;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

          h5 {
            color:rgb(52, 152, 219);
          }
        }
      }

      .large {
        margin-bottom: 25px;
      }

      .cliff {
        float: right;
        background: #fff;
        margin: 15px 30px;
        padding: 25px;

        .important {
          font-size: 1.4em;
          font-weight: bold;
          text-align: center;
          margin-bottom: .75rem;
        }

        .improved {
          color: #9AB88E;
          font-weight: bold;
        }
      }

    }
  }
}
