<div class="row" ng-controller="createCtrl as cc">
  <div class="entry col l5">
    <h5>Let's start by picking your race</h5>
    <div class="class col l12">
      <p>Your race gives you a few interesting characteristics, like bonus stats, darkvision, etc.</p>
      <div class="input-field col s5 center-align">
        <select  material-select watch
          ng-model="character.race"
          ng-init="character.race = races[0]">
          <option ng-repeat="race in races">{{race}}</option>
        </select>
        <label>Standard Races</label>
      </div>
    </div>

    <div class="subclass col l12"
         ng-show="hasSubrace(character.race)">
         <p>
           Your race has subraces, which provide extra characteristics.
           <div class="input-field col s5 center-align">
             <select  material-select watch
               ng-model="character.subrace"
               ng-init="character.race = subraces[character.race][0]">
               <option ng-repeat="race in subraces[character.race]">{{race}}</option>
             </select>
             <label>Subraces for {{character.race}}</label>
           </div>
         </p>
    </div>

    <div class="button col l12">
      <button class="btn right"
              ng-click="selectedRace()">Next</button>
    </div>
  </div>
  <div class="response col l7">
    Race Stuff
  </div>
</div>
