<div class="row" ng-controller="createCtrl as cc">
  <div class="entry col l5">
    <div class="entryContent">
      <div class="entry-flex">
        <div class="header"
              ng-bind-html="content.pages.create.race.header">
        </div>
        <div class="class col l12">
          <div class="subheader"
               ng-bind-html="content.pages.create.race.section.race.header">
          </div>
          <div class="input-field col m5 s12 center-align">
            <select  material-select
            ng-change="characterService.deleteSubrace()"
            ng-model="character.race">
            <option ng-repeat="race in races">{{race}}</option>
          </select>
          <label
             ng-bind-html="content.pages.create.race.section.race.label"></label>
           </div>
         </div>

        <div class="subclass col l12"
        ng-show="hasSubrace(character.race)">
          <div class="subheader"
               ng-bind-html="content.pages.create.race.section.subrace.header"></div>
          <div class="input-field col m5 s12 center-align">
            <select material-select
              ng-model="character.subrace"
              ng-init="character.subrace = character.subrace || subraces[character.race][0]">
            <option ng-repeat="subrace in subraces[character.race]">{{subrace}}</option>
            </select>
            <label
              ng-bind-html="content.pages.create.race.section.subrace.label"> </label>
            </div>
        </div>
      </div>
    </div>

    <div class="button col l12 s12">
      <button class="btn right col s12 l3"
              ng-click="finishedState('race')"
              ng-bind-html="content.pages.create.buttons.next"></button>
    </div>
  </div>
  <div class="response col l7">
    <div class="default"
         ng-show="!character.race"
         ng-bind-html="content.pages.create.race.Entry">
    </div>
    <div class="selected"
         ng-show="character.race">
      <div class="cliff">
        <div class="important"
             ng-bind-html="content.pages.create.race.section.cliffHeader"></div>
        <div class="notes"
        ng-show="!character.subrace"
        ng-bind-html="content.pages.create.race[character.race].cliff">
        </div>
        <div class="note"
        ng-show="character.subrace"
        ng-bind-html="content.pages.create.race[character.race].subraces[character.subrace].cliff">
        </div>
      </div>
      <div class="large"
           ng-bind-html="content.pages.create.race[character.race].large">
      </div>
      <div class="large"
           ng-show="character.subrace"
           ng-bind-html="content.pages.create.race[character.race].subraces[character.subrace].large">
      </div>
    </div>
  </div>
</div>
