<div class="row" ng-controller="createCtrl as cc">
  <div class="entry col l5">
    <div class="entryContent">
      <div class="">
        see here if u were a spellcaster champ it would list ur cantrips and lvl 1 spells
      </div>
      <div class="">
        or if u were a nonspellcaster it would tell u u have no spells.
      </div>

    </div>

    <div class="button col l12">
      <button class="btn next right"
              ng-click="finishedState('spells')">Next</button>
      <button class="btn right"
              ng-click="backup()">Previous</button>
    </div>
  </div>

  <div class="response col l7">
    A list of spells available to ur champ would eventually go here
  </div>
</div>
