<div ng-controller="indexCtrl as vm">
  <div class="hero">
    <div class="hero-image-cover"></div>
    <div class="hero-copy center-align">
      <h1>Simple Character Management</h1>
      <p class="center-align">Push less paper. Play more 5e.</p>
      <div class="call-to-action">
        <button class="btn ">Try for free.</button>
      </div>
    </div>
  </div>

  <div class="content-body">
    <div class="container">
      <h4 class="center-align">Finish turns in a fraction of the time</h4>
      <div class="row section benefits">
        <div class="col l4 m12 s12">
          <h5>Important Things At A Glance</h5>
          <p>
            Keep the important bits at your fingertips. Speed, remaining spellcasts, active abilities, hit and attack die, proficiencies, and lots more. Fumbling through sheets is a thing of the past.
          </p>
        </div>
        <div class="col l4 m12 s12 middle">
          <h5>Automatic Attribute Handling</h5>
          <p>
            Your fighter's strength suddenly drops in half. Is he encumbered? What's his hit chance now? His modifier? His saving throw bonus? SavingThrow handles everything behind the scenes.
          </p>
        </div>
        <div class="col l4 m12 s12 middle">
          <h5>Manage Multiple Characters</h5>
          <p>
            SavingThrow handles a single player character in a single campaign or multiple characters in multiple campaigns. Always come prepared and never lose that critical page.
          </p>
        </div>
      </div>
      <div class="row section pricing">
        <h4 class="center-align">Free forever. Seriously.</h4>
        <p>
          No charge, no advertisements. Plain and simple. Have as many characters as you want and run as many campaigns as you need. You'll never be harassed for a donation or forced to
          buy a $.99 character slot. Want to donate anyways? <a href="https://donate.doctorswithoutborders.org/onetime.cfm" target="_blank">Donate here.</a>
        </p>
      </div>
      <div class="row section examples">
        <h4 class="center-align">Example Character Sheets</h4>
        <div class="col l4 m12 s12">
          <h5>1st Level Human Tempest Cleric</h5>
          <p>
            Example sheet goes here
          </p>
        </div>
        <div class="col l4 m12 s12">
          <h5>4st Level Half-Elf Ranger</h5>
          <p>
            Example sheet goes here
          </p>
        </div>
        <div class="col l4 m12 s12">
          <h5>10st Level Half-Orc Barbarian</h5>
          <p>
            Example sheet goes here
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="closing">
    <div class="call-to-action">
      <h5>Ditch the character sheets.</h5>
      <div class="cta-button center-align">
        <button class="btn center-align">Join now.</button>
      </div>
    </div>
  </div>
</div>
