<div class="row" ng-controller="createCtrl as cc">
  <div class="entry col l5">
    <div class="entryContent">
      <div class="">
        and finally here u would do any misc dumb bullshit i find out. for now who cares
      </div>

      <div class="button col l12">
        <button class="btn next right"
                ng-click="finishedState('misc')">Finish</button>
        <button class="btn right"
                ng-click="backup()">Previous</button>
      </div>
    </div>
  </div>

  <div class="response col l7">
    i really do not know what would go here to be honest
  </div>
</div>
