<div class="row" ng-controller="charCtrl as cc">
  <div class="leftBar col s12">
    <div class="header">
      <div class="input-field">
        <input type="text"
               name="search"
               ng-model="searchText">
        <label for="search">Search Characters</label>
      </div>
      <button class="btn"
              ng-click="newCharacter()">New Character</button>
    </div>

    <div class="characters">
      <div class="character clearfix"
           ng-repeat="char in characters | filter:searchText"
           ng-class="char._id == character.$$id ? 'selected': '' "
           ng-click="selectCharacter(char._id)">
           <div class="name">
             {{char.name}}
           </div>
           <div class="race">
            {{char.race}}
           </div>
           <div class="alignment right">
            {{char.alignment}}
           </div>
      </div>
    </div>

  </div>
  <div class="rightBar col s12">
      <div class="rightBarContent"
          ng-if="characters.length == 0">
          <div class="rightBarCTA">
            <h3>Let's get to work.</h3>
            <p>
              We're really excited you decided to join. We worked REALLY hard on making character creation and management as easy as can be.
              Let us hold your hand through the whole process.
            </p>
            <button class="btn">Create your first character</button>
          </div>
      </div>
  </div>

</div>
