<div class="row" ng-controller="charCtrl as cc">
  <div class="leftBar col s12">
    <div class="header">
      <div class="input-field">
        <input type="text"
               name="search"
               ng-model="searchText">
        <label for="search"
               ng-bind-html="content.pages.home.left.searchText"></label>
      </div>
      <button class="btn"
              ng-click="newCharacter()"
              ng-bind-html="content.pages.home.left.createButton"></button>
    </div>

    <div class="characters">
      <div class="character clearfix"
           ng-repeat="char in characters | filter:searchText"
           ng-class="char._id == character.$$id ? 'selected': '' "
           ng-click="selectCharacter(char._id)">
           <div class="name">
             {{char.name}}
           </div>
           <div class="race">
            {{char.race}}
           </div>
           <div class="alignment right">
            {{char.alignment}}
           </div>
      </div>
    </div>

  </div>
  <div class="rightBar col s12">
      <div class="rightBarContent">
          <div class="rightBarCTA"
          ng-if="characters && characters.length == 0"
          ng-bind-html="content.pages.home.right.emptyState">
          </div>

          <div ng-if="character && characters.length > 0">
              <i class="material-icons"
                 ng-click="deleteCharacter(character)">clear</i>
          </div>
      </div>
  </div>

</div>
