<div class="row" ng-controller="charCtrl as cc">
  <div class="leftBar col s12">
    <div class="header">
      <div class="input-field">
        <input type="text"
               name="search"
               ng-model="searchText">
        <label for="search">Search Characters</label>
      </div>
      <button class="btn"
              ng-click="newCharacter()">Add a Character</button>
    </div>

    <div class="characters">
      <div class="character clearfix"
           ng-repeat="character in characters | filter:searchText"
           ng-click="selectCharacter(character._id)">
           <div class="name">
             {{character.name}}
           </div>
           <div class="race">
            {{character.race}}
           </div>
           <div class="alignment right">
            {{character.alignment}}
           </div>
      </div>
    </div>

  </div>
  <div class="rightBar col s12">
      <h2>{{character.name}}</h2>
  </div>

</div>
